@model EditarTransacaoForm

@{ ViewBag.Title = "Nova Transação: " + Model.Tipo; }

@section sidebar
{
    @Html.Partial("_Sidebar")
}

@using (Html.BeginForm("Editar", "Transacao"))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.Tipo)

   <fieldset>
        
        <div>@Html.LabelFor(x => x.CategoriaId)</div>
        <div>@Input.Categoria("CategoriaId", Model.Categorias)</div>

        <div>@Html.LabelFor(x => x.ContaId)</div>
        <div>@Html.DropDownListFor(x => x.ContaId, new SelectList(Model.Contas, "Id", "Nome", Model.ContaId))</div>

        <div>@Html.LabelFor(x => x.Valor)</div>
        <div>@Html.EditorFor(x => x.Valor)</div>

        <div>@Html.LabelFor(x => x.Descricao)</div>
        <div>@Html.EditorFor(x => x.Descricao, new { size = 100 })</div>

        <p>
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </p>

    </fieldset>
}