@model TransacaoIndexView
@{
    ViewBag.SideBar = false;
    ViewBag.Title = "Transações do dia " + Model.MovimentoAtual.Data.Show();
}

@section sidebar
{
    @Html.Partial("_Sidebar")
}

<div>
    <ul class="nav nav-pills">
      <li><a href="@Url.Action("Index")">Todas as contas</a></li>
      <li><a href="@Url.Action("Index", new { conta = Conta.CaixaId })">Caixa</a></li>
      <li><a href="@Url.Action("Index", new { conta = Conta.ContaCorrenteId })">Itaú</a></li>
    </ul>
</div>

@if (Model.Transacoes.Count == 0)
{
    <div class="alert alert-info">Não há transações cadastradas</div>
}
else
{
    <table class="table table-condensed table-hover table-bordered table-striped">
        <tr>
            <th>Conta</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th>Descrição</th>
            <th></th>
        </tr>
        @foreach (var transacao in Model.Transacoes)
        {
            <tr>
                <td>@Show.Conta(transacao.Conta)</td>
                <td>@transacao.Categoria.Nome</td>
                <td class="right">@Show.Decimal(transacao.Valor)</td>
                <td>@transacao.Descricao</td>
                <td>
                    @Html.PostLink(Url.Action("Apagar", new { id = transacao.Id }), "Apagar", "icon icon-del")
                </td>
            </tr>
        }
    </table>
}
