@model TransacaoValorForm
@{ ViewBag.Title = "Nova Transação"; }

<p>
    Tipo da transação: <span class="highlight">@Model.Tipo</span>
    <br/>
    Conta: <span class="highlight">@Model.Conta.Nome</span>
    <br/>
    Categoria: <span class="highlight">@Model.Categoria.Nome</span>
</p>

@using (Html.BeginForm("Salvar", "Transacao"))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.ContaId)
    @Html.HiddenFor(x => x.CategoriaId)
    @Html.HiddenFor(x => x.Tipo)

    <div class="form">
        <p>
            <div>@Html.LabelFor(x => x.Valor)</div>
            <div>@Html.TextBoxFor(x => x.Valor)</div>
        </p>
        <p>
            <div>@Html.LabelFor(x => x.Descricao)</div>
            <div>@Html.TextBoxFor(x => x.Descricao, new { size = 100 })</div>
        </p>
        <p>
            <input type="submit" value="Salvar">        
        </p>
    </div>
}