@model FecharMovimentoForm

@{ ViewBag.Title = "Fechar Movimento " + Model.MovimentoData; }

@section sidebar
{
    @Html.Partial("_Sidebar")
}

@using (Html.BeginForm("Fechar", "Movimento"))
{
   <fieldset>
        
        <div>@Html.LabelFor(x => x.SaldoCaixa)</div>
        <div>@Html.TextBoxFor(x => x.SaldoCaixa)</div>
        
        <div>@Html.LabelFor(x => x.SaldoConta)</div>
        <div>@Html.TextBoxFor(x => x.SaldoConta)</div>

        <p>
            <input type="submit" value="Fechar Movimento" class="btn btn-primary" />
        </p>

    </fieldset>
}