@model ReadOnlyCollection<Movimento>
@{ ViewBag.Title = "MovimentoRepository"; }

@if (Model.Count == 0)
{
    <div class="flash nodata">Não há movimentos</div>
}
else
{
    if (this.Movimento() != null)
    {
        <p>
            @Link.FecharMovimento(Url)    
        </p>
    }
    else
    {
        <p>
            @Link.AbrirMovimento(Url)    
        </p>
    }
}

<table class="list">
        <tr>
            <th>Data</th>
            <th>Status</th>
            <th>Saldo no Caixa</th>
            <th>Saldo na Conta Corrente</th>
            <th>Diferença no Caixa</th>
            <th>Diferença na Conta Corrente</th>
        </tr>
        @foreach (var movimento in Model)
        {
            <tr>
                <td>@movimento.Data.Show()</td>
                <td>@Show.StatusMovimento(movimento)</td>
                <td>@Show.Decimal(@movimento.SaldoFinalCaixa)</td>
                <td>@Show.Decimal(@movimento.SaldoFinalConta)</td>
                <td>@Show.Decimal(@movimento.DiferencaNoCaixa)</td>
                <td>@Show.Decimal(@movimento.Diferenca)</td>
            </tr>
        }
</table>

