<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Macarrão</a>
            <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
                Logado como <a href="#" class="navbar-link">João</a>
            </p>
            <ul class="nav">
                <li><a href="@Url.Action("Index", "Home")">Início</a></li>
                <li><a href="@Url.Action("Index", "Movimento")">Movimentos</a></li>
		        <li><a href="@Url.Action("Index", "Transacao")">Transações</a></li>
                <li><a href="@Url.Action("Index", "FluxoCaixa")">Fluxo de Caixa</a></li>
                <li><a href="@Url.Action("Index", "Admin")">Sair</a></li>
            </ul>
            
            </div>
        </div>
    </div>
</div>