@{
    Layout = "~/Views/Shared/Master.cshtml";
}

@RenderPage("Menu.cshtml")
       
<div class="container">
    
    <div id="title">
            
        @if (IsSectionDefined("contextual"))
        {
            <div class="contextual">
                @RenderSection("contextual", required: false)
            </div>
        }

        @if (ViewBag.Title != null)
        {
            <h2 id="title">@ViewBag.Title</h2>    
        }
            
    </div>

	<div id="content">
        
           
        @Html.GetSuccess("alert alert-dismissable alert-success")
        @Html.GetError("alert alert-dismissable alert-success")
        @Html.GetAlert("alert alert-dismissable alert-success")
        @Html.ShowValidationSummary("alert alert-dismissable alert-success")

        @RenderBody()

		<div style="clear:both;"></div>

	</div>

    <div id="bottom"></div>
</div>