<div id="menu" style="clear: both">
    <ul>
		<li><a href="@Url.Action("Index", "Home")">Início</a></li>
        <li class="separator">|</li>
        <li><a href="@Url.Action("Index", "Movimento")">Movimentos</a></li>
		<li><a href="@Url.Action("Index", "Transacao")">Transações</a></li>
        <li><a href="@Url.Action("Index", "FluxoCaixa")">Fluxo de Caixa</a></li>
        <li class="separator">|</li>
        <li><a href="@Url.Action("Index", "Admin")">Administração</a></li>
	</ul>
</div>