<div class="navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <a href="../" class="navbar-brand">Macarrão Na Rua</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
            @*<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a tabindex="-1" href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="../amelia/">Amelia</a></li>
                <li><a tabindex="-1" href="../cerulean/">Cerulean</a></li>
                <li><a tabindex="-1" href="../cosmo/">Cosmo</a></li>
                <li><a tabindex="-1" href="../cyborg/">Cyborg</a></li>
                <li><a tabindex="-1" href="../flatly/">Flatly</a></li>
                <li><a tabindex="-1" href="../journal/">Journal</a></li>
                <li><a tabindex="-1" href="../readable/">Readable</a></li>
                <li><a tabindex="-1" href="../simplex/">Simplex</a></li>
                <li><a tabindex="-1" href="../slate/">Slate</a></li>
                <li><a tabindex="-1" href="../spacelab/">Spacelab</a></li>
                <li><a tabindex="-1" href="../united/">United</a></li>
                </ul>
            </li>*@
            <li><a href="@Url.Action("Index", "Home")">Início</a></li>
            <li><a href="@Url.Action("Index", "Movimento")">Movimentos</a></li>
		    <li><a href="@Url.Action("Index", "Transacao")">Transações</a></li>
            <li><a href="@Url.Action("Index", "FluxoCaixa")">Fluxo de Caixa</a></li>
            <li><a href="@Url.Action("Index", "Admin")">Administração</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Quit", "Login")">Sair</a></li>
        </ul>

    </div>
    </div>
</div>