<div id="sidebar">
    
    <h3>Atalhos</h3>

    <ul>
        <li><a href="@Url.Action("Index", "Movimentacao")">Mostrar Movimentações</a></li>
    </ul>

	<h3>Nova Movimentação</h3>
			
    <ul>
        <li><a href="@Url.Action("Index", "Movimentacao")" class="icon icon-add">Compra</a></li>
        <li><a href="@Url.Action("Index", "Movimentacao")" class="icon icon-add">Venda</a></li>
        <li><a href="@Url.Action("Index", "Movimentacao")" class="icon icon-add">Dividendo</a></li>
        <li><a href="@Url.Action("Index", "Movimentacao")" class="icon icon-add">Juros SCP</a></li>
        <li><a href="@Url.Action("Index", "Movimentacao")" class="icon icon-add">Bonificação</a></li>
        <li><a href="@Url.Action("Index", "Movimentacao")" class="icon icon-add">Agrupamento</a></li>
        <li><a href="@Url.Action("Index", "Movimentacao")" class="icon icon-add">Desagrupamento</a></li>
    </ul>

</div>
